img {
width: 15%;
height:auto;
display: block;
}

.mycolor {
    color:maroon;
    font-size: medium;
    font-weight:bolder
}

.mycolortwo {
    color:palevioletred;
    font-size: small;
    font-weight: normal;
}
p{color:midnightblue;}

html {
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: monospace;
    height: 100%;
}

body {
    margin: 5%;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
}

*, * :before, * :after {
    box-sizing: inherit;
}